<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body class="divbody">
        <label class="logoutPos">
            <input type=button onClick="location.href='http://localhost:3000/pollyCourse/'" value='Logout' class="buttons"> 
        </label> 
    <div id="categoryHomePage" class="margin">     
    <h1><%= title %></h1>
    <p>Welcome to <%=category%> <%= title %></p>
    <input type=button onClick="location.href='http://ec2-34-207-163-214.compute-1.amazonaws.com:3000/learningCourse/<%=category%>/1'" value='Start Course' class="buttons">
    <input type=button onClick="location.href='http://ec2-34-207-163-214.compute-1.amazonaws.com:3000/learningCourse/<%=category%>/quiz/1'" value='Take a quiz' class="buttons">
    </div>
  </body>
</html>
