<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%=lang%> <%= title %></p>
    <input type=button onClick="location.href='http://ec2-34-207-163-214.compute-1.amazonaws.com:3000/pollyCourse/<%=lang%>/1'" value='Start Course'>
  </body>
</html>
