<!DOCTYPE html>
<html>
  <head>
      <title> Quiz </title>
      <link rel='stylesheet' href='/stylesheets/styles.css' />
</head>
<body class="divbody">
  <h1 class="h1css">Welcome to ITOTS!</h1>
  <label class="logoutPos">
      <input type=button onClick="location.href='https://project2.auth.us-east-1.amazoncognito.com/login?response_type=token&client_id=5p39s85v7mikvqbak1gmc80f29&redirect_uri=https://d2aed6h3zvv2he.cloudfront.net/index.html'" value='Logout' class="buttons"> 
  </label>
  <div id="learningslidePage" class="learningmargin"> 
    <h1>Quiz</h1>
  </div>
  <div class="textmargin">
 <p><%=quiz_label_right %></p>
</div>
 <p id="label"> </p>
 <div class="imagemargin">
<form name="theFormName">
  <div id="radio">
    <input type="radio" id="radio1" name="radiogrp" value = <%=firstVal%>><label for="radio1"><img src=<%= firstImageURL %> height="400" width="400" /> </label></input>
    <input type="radio" id="radio2" name="radiogrp" value = <%=secondVal%>><label for="radio2"><img src=<%= secondImageURL %>  height="400" width="400" /> </label></input>
    <br>
    <input type="button" value = "Check" onclick="getRadioValue('radiogrp')" class="buttons">
    <input type=button onClick="location.href='<%=next_url%>'" value=Next class="buttons">  
</div>
</form>
</div>
<script type = "text/javascript">
function calculateWrongImageURL(){
        numberOfSlidesInEachCategory = 4;
          var randomCategoryNum = numberOfSlidesInEachCategory;
                do{
                randomCategoryNum = Math.floor(Math.random() * numberOfSlidesInEachCategory) + 1;
                }while(randomCategoryNum==categoryNum);
                //console.log(randomCategoryNum);
        console.log(wrongImageURL);
        document.getElementById('wrongImageURL').src = wrongImageURL;
}
 function getRadioValue(radiogrp) {
    var radios = theFormName.elements[radiogrp];
    window.rdValue;
    for (var i=0; i<radios.length; i++) {
                var someRadio = radios[i];
                if (someRadio.checked) {
                    rdValue = someRadio.value;
                    break;
                }
                else rdValue = 'noRadioChecked';
            }
            if (rdValue == '10') {
               alert('Good job!! That is correct'); // or: console.log('10')
            }
            else if(rdValue == '20') {
		alert('Oops! That is wrong'); 
            }
            else if (rdValue == 'noRadioChecked') {
                alert('Please choose one option!');
            }
        }
</script>

</body>
</html>

