<!doctype html>
<html>
  <head>
   
   <title> Quiz </title>
</head>
<body>
 <p><%=quiz_label_right %></p>
 <p id="label"> </p>
<form name="theFormName">
  <div id="radio">
    <input type="radio" id="radio1" name="radiogrp" value = <%=firstVal%>><label for="radio1"><img src=<%= firstImageURL %> height="400" width="400" /> </label></input>
    <input type="radio" id="radio2" name="radiogrp" value = <%=secondVal%>><label for="radio2"><img src=<%= secondImageURL %>  height="400" width="400" /> </label></input>
    <br>
    <input type="button" value = "Check" onclick="getRadioValue('radiogrp')">
    <input type=button onClick="location.href='<%=next_url%>'" value=Next class="buttons">  
</div>
</form>
<script type = "text/javascript">
function calculateWrongImageURL(){
        numberOfSlidesInEachCategory = 4;
          var randomCategoryNum = numberOfSlidesInEachCategory;
                do{
                randomCategoryNum = Math.floor(Math.random() * numberOfSlidesInEachCategory) + 1;
                }while(randomCategoryNum==categoryNum);
                //console.log(randomCategoryNum);
        console.log(wrongImageURL);
        document.getElementById('wrongImageURL').src = wrongImageURL;
}
 function getRadioValue(radiogrp) {
    var radios = theFormName.elements[radiogrp];
    window.rdValue;
    for (var i=0; i<radios.length; i++) {
                var someRadio = radios[i];
                if (someRadio.checked) {
                    rdValue = someRadio.value;
                    break;
                }
                else rdValue = 'noRadioChecked';
            }
            if (rdValue == '10') {
               alert('Good job!! That is correct'); // or: console.log('10')
            }
            else if(rdValue == '20') {
		alert('Oops! That is wrong'); 
            }
            else if (rdValue == 'noRadioChecked') {
                alert('Please choose one option!');
            }
        }
</script>

</body>
</html>
